@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&family=Roboto+Slab:wght@300;400;600&family=Roboto:wght@300;400;700;900&family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.head-element {
  transition: all 0.3s ease;
}

.head-element:hover {
  cursor: pointer;
  color: rgb(53, 3, 14);
}
.main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 7rem;
  margin-bottom: 20px;
}
p {
  display: flex;
}
input {
  border: solid 3px rgb(135, 135, 135);
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 30px;
}
button {
  height: 50px;
  width: 200px;
  background-color: #fff;
  background: #fff;
  padding: 10px;
  border: solid 1px rgb(135, 135, 135);
  border-radius: 10px;
  transition: all 0.3s ease;
}
button:hover {
  cursor: pointer;
  background: #dcec4a;
  border: #dcec4a;
  font-size: 1.05rem;
}
.footer {
  background-color: grey;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  padding: 20px;
  gap: 20px;
  height: 8%;
  width: 100%;
  bottom: 0.1px;
}
.footer-element {
  transition: all 0.3s ease;
}

.footer-element:hover {
  cursor: pointer;
  font-size: 1.05rem;
  color: rgb(3, 53, 53);
}
